# 微博账号信息相关配置
[weibo]
app_key = "你的appkey"
app_secret = "你的appsecret"
redirect_uri = "你的回调uri"
username = "微博登录账号"
passwd = "微博密码"
security_domain = "你设置的安全域名"
auth_code = "授权码" # 非必填项，当启动程序日志报错"retcode":"4049"（需要登录验证码）时，查看日志中的authorize url，访问该url获取code，填入此处，再次重启服务可以直接获取到token，绕过登录

test_username = "单元测试用的微博账号"
test_passwd = "测试账号的密码"

# 定时任务相关配置
[cron]
location = "Asia/Shanghai"  # 定时任务时区配置
toll_job = "@hourly"  # 报时任务定时执行时间配置 格式参考https://pkg.go.dev/github.com/robfig/cron?tab=doc

# 微博钟楼相关配置
[weiboclock]
pic_path = "default"  # 指定 pic_path 时使用该指定的目录中的png图片（图片以整点数为名）,图片不能大于5M, 为空则不发送图片,default使用内置图片
